@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans Bold';
    src: url('../fonts/ptsansdold.woff') format('woff');
}

body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.container {
    width: 1200px;
    margin: 0px auto;
    background-color: white;
}

.header {
    width: 1200px;
}

.main-nav {
    font-weight: bold;
    padding: 17px 0px 18px 0px;
    width: 1200px;
    display: flex;
    align-items: center;
}

.main-nav a {
    display: block;
    text-decoration: none;
    color: black;
    width: 240px;
    text-align: center;
}

.main-nav a:nth-child(2) {
    margin-right: 240px;
}

.logo {
    position: absolute;
    top:0;
    left:50%;
    margin-left: -69px;
    z-index: 1;
}

.main-img {
    position: relative;
    background-image: url("../img/background.jpg");
    text-align: center;
    padding: 76px 0px;
}

.main-img::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 1200px;
    height: 57px;
    background-image: url("../img/pseudo.png");
}

.description {
    padding: 44px 355px;
    text-align: center;
}

.description h2 {
    font-size: 21px;
    line-height: 26px;
}

.description p {
    line-height: 26px;
}
.features {
    display: flex;
    text-align: center;
    align-items: center;
}

.features img {
    display: block;
}

.features-blue {
    background-color: #81b3d2;
    color: white;
}

.features-blue .features-item {
    box-sizing: border-box;
    width: 400px;
    padding: 0px 50px 0px 50px;
}

.features-blue .features-item-additional {
    padding: 0px 40px 0px 40px;
}

.features-blue .features-item h2 {
    padding: 0px 73px 0px 72px;
}

.features-grey {
    background-color: #eeeeee;
}

.features-grey .features-item {
    width: 400px;
    padding: 44px 70px;
    box-sizing: border-box;
}

.features-grey .features-item h2{
    padding: 0px 75px;
}

.advantages {
    display: flex;
    align-items: center;
}

.advantages-item {
    box-sizing: border-box;
    padding: 69px 58px 68px 58px;
    width: 400px;
    text-align: center;
}

.interesting {
    padding-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.interesting h3 {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 15px;
}

.interesting p {
    line-height: 24px;
    margin-bottom: 48px;
}

.interesting a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    background-color: #766357;
    width: 568px;
    padding: 30px 0px;
}

.map {
    position: relative;
}

.map img {
    display: block;
}

.search {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 316px;
    width: 568px;
    background-color: white;
    line-height: 26px;
    font-weight: bold;
    padding: 55px;
}

.search input {
    box-sizing: border-box;
    border: none;
    background-color: #f2f2f2;
    font: inherit;
    text-transform: uppercase;
}

.search .date {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
    position: relative;
}

.search .date input {
    width: 346px;
    padding: 6px 12px;
    margin-left: auto;
}

.search .date a {
    position: absolute;
    bottom: 8px;
    right: 9px;
}

.search .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 54px;
}

.search .people input {
    width: 38px;
    padding: 6px 0px;
    text-align: center;
}

.search .people .minus {
    width: 38px;
    height: 38px;
    border: none;
    background: #f2f2f2 url("../img/minus.png") no-repeat 50%;
    cursor: pointer;
}

.search .people .plus {
    width: 38px;
    height: 38px;
    border: none;
    background: #f2f2f2 url("../img/plus.png") no-repeat 50%;
    cursor: pointer;
}

.search .people label:nth-of-type(1) {
    margin-right: 41px;
}

.search .people label:nth-of-type(2) {
    margin-right: 27px;
    margin-left: auto;
}

.search input[type="submit"] {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    cursor: pointer;
    font: bold 21px/26px 'PT Sans', Arial, sans-serif;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    padding: 38px 0px;
}

.main-footer {
    background-image: url("../img/map-footer.jpg");
}

.visit {
    margin: 0px 254px 0px 130px;
}

.visit a {
    font-size: 21px;
    line-height: 26px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.social {
    width: 156px;
    display: flex;
}

.social a {
    display: block;
    width: 48px;
    height: 45px;
    margin-right: 6px;
}

.social a:nth-child(1) {
    background: #81b3d2 url("../img/twitter.png") no-repeat 50%;
}

.social a:nth-child(2) {
    background: #81b3d2 url("../img/facebook.png") no-repeat 50%;
}

.social a:nth-child(3) {
    background: #81b3d2 url("../img/youtube.png") no-repeat 50%;
}

.htmlacademy {
    margin-left: 225px;
}

.htmlacademy a {
    line-height: 26px;
    text-decoration: none;
    color: black;
}

.htmlacademy a img{
    vertical-align: middle;
}

.options {
    display: flex;
    color: white;
    padding: 27px 72px 33px 72px;
    background-image: url("../img/filter-background.jpg");
}

.options h2 {
    font-size: 16px;
    line-height: 21px;
    margin: 0px;
}

.infrastructure {
    margin-right: 120px;
}

.type-of-housing {
    margin-right: auto;
}

.options input[type="checkbox"] {
    display: none;
}

.infrastructure label,
.type-of-housing label {
    display: block;
    margin-left: 40px;
    margin-top: 24px;
    position: relative;
}

.options input[type="checkbox"]:not(:checked) + label::before {
    content: "";
    position: absolute;
    left: -40px;
    width: 26px;
    height: 22px;
    background: url("../img/checkbox-empty.png") no-repeat;
    cursor: pointer;
}

.options input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: -40px;
    width: 26px;
    height: 22px;
    background: url("../img/checkbox-checked.png") no-repeat;
    cursor: pointer;
}

.filter-range h2 {
    margin-bottom: 10px;
}

.price-controls {
    border: 2px solid white;
    border-radius: 2px;
    width: 314px;
    height: 32px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.price-controls label{
    text-align: right;
    width: 157px;
}

.price-controls input {
    font: inherit;
    color: white;
    border: none;
    background: none;
}

.price-controls .min-price input{
    width: 72px;
}

.price-controls .max-price input{
    width: 80px;
}

.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: white;
    left: 157px;
    top: 5px;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 30px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.results {
    display: flex;
    align-items: center;
    padding: 30px 72px;
    border-bottom: 2px solid #e5e5e5;
}

.found {
    margin-right: 48px;
}

.found span {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting-type {
    margin-right: auto;
}

.sorting-type {
    font-size: 12px;
    line-height: 18px;
}

.sorting-type span {
    margin-right: 35px;
}

.sorting-type a {
    text-decoration: none;
    margin-right: 30px;
}

.sorting-type a:last-child {
    margin-right: 0px;
}


.item {
    display: flex;
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5;
}

.item-img {
    margin-right: 30px;
}

.item-img img {
    display: block;
}

.item-info {
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.item-info h1 {
    font-size: 1.1em;
    margin-top: -3px;
    margin-bottom: 0px;
    flex-basis: 100%;
}

.item-info h1 a {
    text-decoration: none;
    color: black;
}

.read-more {
    margin-right: 6px;
}

.read-more a {
    display: block;
    width: 100px;
    background-color: #81b3d2;
    text-decoration: none;
    color: white;
    padding: 4px 0px 5px 10px;
    margin-top: 18px;
}

.booking a {
    display: block;
    width: 132px;
    background-color: #766357;
    text-decoration: none;
    color: white;
    padding: 4px 0px 5px 10px;
    margin-top: 18px;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.rating span {
    background-color: #f2f2f2;
    padding: 4px 10px 5px 10px;
}