body {
    font-size: 1em;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

.header {
    width: 1200px;
}

.main-nav {
    padding: 19px 0px;
    width: 1200px;
    display: flex;
    align-items: center;
}

.main-nav a {
    display: block;
    text-decoration: none;
    color: black;
    width: 240px;
    text-align: center;
}

.main-nav a:nth-child(2) {
    margin-right: 240px;
}

.logo {
    position: absolute;
    top:0;
    left:50%;
    margin-left: -69px;
}

.main-img {
    background-image: url("img/background.jpg");
    text-align: center;
    padding: 76px 0px;
}

.description {
    padding: 58px 0px 57px 0px;
    text-align: center;
}

.features {
    display: flex;
    text-align: center;
    align-items: center;
}

.features img {
    display: block;
}

.features-blue {
    background-color: #81b3d2;
}

.features-grey {
    background-color: #eeeeee;
}

.features-grey .features-item {
    width: 400px;
    padding: 61px 0px;
}

.advantages {
    display: flex;
    align-items: center;
}

.advantages-item {
    padding: 68px 0px 67px 0px;
    width: 400px;
    text-align: center;
}

.interesting {
    padding: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-head {
    background-color: #766357;
    width: 568px;
    padding: 34px 0px;
    text-align: center;
    margin-top: 56px;
}

.map {
    position: relative;
}

.map img {
    display: block;
}

.search {
    position: absolute;
    top: 0px;
    left: 316px;
    width: 568px;
    background-color: white;
    padding: 160px 0px 159px 0px;
}

.footer {
    display: flex;
    align-items: center;
    padding: 38px 0px;
}

.main-footer {
    background-image: url("img/map-footer.jpg");
}

.visit {
    margin: 0px 286px 0px 150px;
}

.social {
    width: 156px;
    display: flex;
}

.social a {
    display: block;
    width: 48px;
    height: 45px;
    background-color: #81b3d2;
    margin-right: 6px;
}

.htmlacademy {
    margin-left: 218px;
}

.htmlacademy a img{
    vertical-align: middle;
}

.options {
    background-image: url("img/filter-background.jpg");
    padding: 61px 0px;
}

.options form {
    display: flex;
}

.results {
    display: flex;
    padding: 34px 0px;
    border-bottom: 1px solid #e5e5e5;
}

.found {
    margin: 0px 100px 0px 70px;
}

.sorting-type {
    margin-right: 530px;
}

.item {
    display: flex;
    padding: 30px 0px 30px 72px;
    border-bottom: 1px solid #e5e5e5;
}

.item-img {
    margin-right: 30px;
}

.item-img img {
    display: block;
}

.item-info {
    margin-right: 522px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-info h1 {
    font-size: 1.1em;
    margin-top: -3px;
    margin-bottom: 0px;
}

.item-info h1 a {
    text-decoration: none;
    color: black;
}

.read-more-booking {
    display: flex;
}

.read-more {
    margin-right: 6px;
}

.read-more a {
    display: block;
    width: 100px;
    background-color: #81b3d2;
    text-decoration: none;
    color: white;
    padding: 4px 0px 5px 10px;
    margin-top: 18px;
}

.booking a {
    display: block;
    width: 132px;
    background-color: #766357;
    text-decoration: none;
    color: white;
    padding: 4px 0px 5px 10px;
    margin-top: 18px;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.rating span {
    background-color: #f2f2f2;
    padding: 4px 10px 5px 10px;
}