@font-face {
    font-family: 'PT Sans';
    src: url('fonts/ptsans.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans Bold';
    src: url('fonts/ptsansdold.woff') format('woff');
}

body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

.header {
    width: 1200px;
}

.main-nav {
    font-weight: bold;
    padding: 17px 0px 18px 0px;
    width: 1200px;
    display: flex;
    align-items: center;
}

.main-nav a {
    display: block;
    text-decoration: none;
    color: black;
    width: 240px;
    text-align: center;
}

.main-nav a:nth-child(2) {
    margin-right: 240px;
}

.logo {
    position: absolute;
    top:0;
    left:50%;
    margin-left: -69px;
    z-index: 1;
}

.main-img {
    position: relative;
    background-image: url("img/background.jpg");
    text-align: center;
    padding: 76px 0px;
}

.main-img::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 1200px;
    height: 57px;
    background-image: url("img/pseudo.png");
}

.description {
    padding: 44px 355px;
    text-align: center;
}

.description h2 {
    font-size: 21px;
    line-height: 26px;
}

.description p {
    line-height: 26px;
}
.features {
    display: flex;
    text-align: center;
    align-items: center;
}

.features img {
    display: block;
}

.features-blue {
    background-color: #81b3d2;
    color: white;
}

.features-blue .features-item {
    box-sizing: border-box;
    width: 400px;
    padding: 0px 50px 0px 50px;
}

.features-blue .features-item2 {
    padding: 0px 45px 0px 45px;
}

.features-blue .features-item h2 {
    padding: 0px 73px 0px 72px;
}

.features-grey {
    background-color: #eeeeee;
}

.features-grey .features-item {
    width: 400px;
    padding: 44px 70px;
    box-sizing: border-box;
}

.features-grey .features-item h2{
    padding: 0px 75px;
}

.advantages {
    display: flex;
    align-items: center;
}

.advantages-item {
    box-sizing: border-box;
    padding: 69px 58px 68px 58px;
    width: 400px;
    text-align: center;
}

.interesting {
    padding-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.interesting h3 {
    font-size: 30px;
    line-height: 24px;
}

.interesting p {
    line-height: 24px;
}

.search-head {
    background-color: #766357;
    width: 568px;
    padding: 30px 0px;
    text-align: center;
    margin-top: 18px;
}

.search-head a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.map {
    position: relative;
}

.map img {
    display: block;
}

.search {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 316px;
    width: 568px;
    background-color: white;
    padding: 171px 0px;
    line-height: 26px;
    font-weight: bold;
}

.footer {
    display: flex;
    align-items: center;
    padding: 38px 0px;
}

.main-footer {
    background-image: url("img/map-footer.jpg");
}

.visit {
    margin: 0px 254px 0px 130px;
}

.visit a {
    font-size: 21px;
    line-height: 26px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.social {
    width: 156px;
    display: flex;
}

.social a {
    display: block;
    width: 48px;
    height: 45px;
    background-color: #81b3d2;
    margin-right: 6px;
}

.htmlacademy {
    margin-left: 225px;
}

.htmlacademy a {
    line-height: 26px;
    text-decoration: none;
    color: black;
}

.htmlacademy a img{
    vertical-align: middle;
}

.options {
    background-image: url("img/filter-background.jpg");
    padding: 67px 0px 66px 0px;
}

.options form {
    display: flex;
}

.results {
    display: flex;
    align-items: center;
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5;
}

.found {
    margin-right: 48px;
}

.found span {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting-type {
    margin-right: auto;
}

.sorting-type {
    font-size: 12px;
    line-height: 18px;
}

.sorting-type span {
    margin-right: 35px;
}

.sorting-type a {
    text-decoration: none;
    margin-right: 30px;
}

.sorting-type a:last-child {
    margin-right: 0px;
}


.item {
    display: flex;
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5;
}

.item-img {
    margin-right: 30px;
}

.item-img img {
    display: block;
}

.item-info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-info h1 {
    font-size: 1.1em;
    margin-top: -3px;
    margin-bottom: 0px;
}

.item-info h1 a {
    text-decoration: none;
    color: black;
}

.read-more-booking {
    display: flex;
}

.read-more {
    margin-right: 6px;
}

.read-more a {
    display: block;
    width: 100px;
    background-color: #81b3d2;
    text-decoration: none;
    color: white;
    padding: 4px 0px 5px 10px;
    margin-top: 18px;
}

.booking a {
    display: block;
    width: 132px;
    background-color: #766357;
    text-decoration: none;
    color: white;
    padding: 4px 0px 5px 10px;
    margin-top: 18px;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.rating span {
    background-color: #f2f2f2;
    padding: 4px 10px 5px 10px;
}